body {
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: #333;
}

nav a {
    color: #fff;
    padding: 20px;
    font-size: 20px;
}

.page {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 40px;
}

.user {
    margin-top: 15px;
    border: 1px solid black;
}